<!-- myapp/templates/myapp/ver_estados.html -->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estados de las Camionetas</title>
    <style>
        .marco {
            border: 1px solid black;
            padding: 10px;
            margin: 10px;
            width: 50%; /* Ajusta este valor para cambiar el ancho del marco */
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <div class="marco"> 
        <div style="display: flex; justify-content: center;">
            <h2>Estados de las Camionetas</h2>
        </div>
        
        <div class="marco">
            <ul>
                
                    
                {% for patente, estado in datos_camionetas %}
                    <li>{{ patente }} - {{ estado }}</li>
                {% endfor %}
            </ul>

        </div>

        <div style="display: flex; justify-content: center;">
            <a href="{% url 'mantenimiento_camioneta' %}"><button>Mantenimiento</button></a>
            <a href="{% url 'arrendar_camioneta' %}"><button>Arriendo</button></a>
            <a href="{% url 'entregar_camioneta' %}"><button>Entrega</button></a>
        </div>
    </div>

</body>
</html>
